.home-background {
    min-height: 100vh; /* Ensures the background covers the entire viewport height */
    background-image: url('../../assets/1.jpg'); /* Adjust the path to your image */
    background-size: cover; /* Make the background cover the entire area */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex; /* Optional: Flex display to center content */
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Distribute space between elements */
  }
  