.shop1-card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px; 
    width: 250px;
   }
   .shop1-card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
   }
   .shop1-card-cover img {
    height: 100px; 
    width: 100%;
   }
   .shop1-card-meta {
    text-align: center;
    margin-top: 10px;
   }
   .review1 {
    margin-bottom: 30px;
    padding: 15px;
    background: black;
    height: 38px; 
    width: 165px; 
    font-size: 15px;
    color: white;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
   }